	body {
		font-family: consolas;
		overflow-y: hidden;
		background-color: black;
		color: white;
		margin-top: 2%;
		margin-left: 20%;
		margin-right: 20%;
	}
	.flex-box {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%
	}
	.flex-box-alternating {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		text-align: justify;
	}
	.left {
		width: 10vw;
		background-color: black;
	}

	.right {
		width: 50vw;
		height: 98vh;
		background-color: black;
		overflow-y: scroll;
	}
	.alternating {
		width: 48%;
		padding: 1%;
	}
	.singular {
		width: 98%;
		padding: 1%;
	}

	@media (max-aspect-ratio: 1.1) {
		.flex-box {
			flex-direction: column;
		}
		.flex-box-alternating {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.alternating {
			width: 98%;
		}
		.right {
			width: 100%;
		}
		.left {
			width: 100%;
		}
		body {
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	.text {
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.3em;
		line-height: 1.3em;
	}
	.preText {
		margin-top: 10%;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.9em;
		line-height: 2.1em;
	}

	.name {
		font-size: 1.7em;
	}

	a {
		text-decoration: none;
	}
	a.titl {
		color: white;
		text-decoration: underline;
		text-decoration-thickness: 0.2em;
		text-decoration-color: #423bbe;
		transition: color .1s ease-out, text-decoration-color 0.1s ease-out;
	}
	a.titl:hover {
		color: #ff695a;
		text-decoration-color: #ff695a;
	}
	a.cite {
		color: white;
		text-decoration: underline;
		text-decoration-thickness: 0.2em;
		text-decoration-color: #42bc7f;
		transition: color .1s ease-out, text-decoration-color 0.1s ease-out;
	}
	a.cite:hover {
		color: #e54286;
		text-decoration-color: #e54286;
	}
